# 📊 Creating DataFrame 1

## 🔍 Exercise

### 1️⃣ Create a DataFrame with the following data:

```python
# Dados para o DataFrame
names = ['Ana', 'Carlos', 'Bruno']  # Nomes dos indivíduos
ages = [23, 45, 36]                 # Idades em anos
cities = ['SP', 'RJ', 'BH']         # Cidades de residência
```

### 2️⃣ Show the columns


### 3️⃣ Add the new column called: `age_in_month`
> *Transform age in years to months*

### 4️⃣ Filter the data only for people over 30

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.functions import when

In [12]:
spark = SparkSession.builder.appName("Spark").getOrCreate()

In [13]:
data = [("Ana",23,"SP"),("Carlos",45,"RJ"),("Bruno",36,"BH")]

In [14]:
df = spark.createDataFrame(data)
df.show()

+------+---+---+
|    _1| _2| _3|
+------+---+---+
|   Ana| 23| SP|
|Carlos| 45| RJ|
| Bruno| 36| BH|
+------+---+---+

In [15]:

df = df.withColumnRenamed("_1","Name").withColumnRenamed("_2","Age").withColumnRenamed("_3","City")
df.show()

+------+---+----+
|  Name|Age|City|
+------+---+----+
|   Ana| 23|  SP|
|Carlos| 45|  RJ|
| Bruno| 36|  BH|
+------+---+----+

In [16]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- City: string (nullable = true)

In [17]:
month = 12
df = df.withColumn("age_in_month", col("Age") * month)

In [18]:
df = df.select("Name", "Age","age_in_month", "City")
display(df.show())

+------+---+------------+----+
|  Name|Age|age_in_month|City|
+------+---+------------+----+
|   Ana| 23|         276|  SP|
|Carlos| 45|         540|  RJ|
| Bruno| 36|         432|  BH|
+------+---+------------+----+

None

In [19]:
age_filter_than_30 = df.filter(col("Age") > 30)
age_filter_than_30.show()

+------+---+------------+----+
|  Name|Age|age_in_month|City|
+------+---+------------+----+
|Carlos| 45|         540|  RJ|
| Bruno| 36|         432|  BH|
+------+---+------------+----+